# Copy this file to terraform.tfvars and fill in your values
# terraform.tfvars is in .gitignore — never commit real values

subscription_id     = "5ee12f35-f0e8-46a4-b867-d1aa5xxxxxxxx"
resource_group_name = "ai-ui-generator-rg"
location            = "francecentral"
acr_name            = "aiuigeneratoracr"
vm_size             = "Standard_D4s_v3"
admin_username      = "azureuser"
ssh_public_key_path = "/var/jenkins_home/.ssh/id_rsa.pub"
environment         = "staging"
